.form{
    background-color: aqua;
}
.ab{
    color: black;
    background-color: aqua;
    font-size: 50px;
}
.ac{
    text-align: right;
    font-size: 15px;
}
.ad{
    text-align: left;
    font-size: 20px;

}
.aw{
    font-size: 17px;
}
.aaa{
    font-size: 20px;
}
.ladh{
   text-align: center;
    width: 500px;
}
